@import ../../../common/styles/variables
@import ../../../common/styles/mixins

main.admin.add-tattoo
  width: 100%
  min-height: 82vh
  div.input-image-container
    width: 500px
    height: 500px
    position: relative
    border: 4px solid $clr-second
    input
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
