@import ../../common/styles/variables
@import ../../common/styles/mixins

footer
  @include flexing($direction: column, $justify: flex-start)
  width: 100%
  div.subscribe
    @include flexing($justify: space-between)
    width: 100%
    padding: 5vh 3vw
    background: $clr-contrast
    span
      width: 30vw
      font-size: 2.5em
      color: $clr-background
      text-transform: uppercase
    div.combined-input
      width: 30vw
    ul.shortcuts
      height: 4vh
      width: 25vw
      gap: 20px
  div.information
    @include flexing($align: flex-start, $justify: space-between)
    width: 100%
    padding: 5vh 3vw
    border:
      top: 0.5px solid transparentize($clr-contrast, 0.5)
    span.title
      font-size: 1.3em
      text-transform: uppercase
    div.contact
      @include flexing($direction: column, $align: flex-start, $justify: flex-start)
      gap: 15px
      width: 30vw
      ul.content
        @include flexing($direction: column, $align: flex-start, $justify: flex-start)
        gap: 12px
        list-style: none
        li
          font-size: 1.2em
    div.extra
      @include flexing($align: flex-start, $justify: flex-start)
      gap: 10vw
      width: 60vw
      div.list
        @include flexing($direction: column, $align: flex-start, $justify: flex-start)
        gap: 15px
        ul
          @include flexing($direction: column, $align: flex-start, $justify: flex-start)
          gap: 2px
          padding:
            left: 25px
          li
            font-size: 1.1em
  div.rights
    @include flexing($justify: space-between)
    padding: 3vh 3vw
    background: $clr-contrast
    width: 100%
    span
      font-size: 1.1em
      color: $clr-background
      width: 60vw
    ul.shortcuts
      height: 4vh
      width: 25vw
      gap: 20px
